# Convex
PUBLIC_CONVEX_URL=https://your-deployment.convex.cloud

#Turso
TURSO_DATABASE_URL=turso://mithqal-app-nima9.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODk0MDU0MDYsImlkIjoiMDFhMGEwZGYtN2IxMC03YzRlLThiYzctODU1MWZmY2Y2ZGJkIiwia2lkIjoiQ3htODhITzJLOXMteHN0cUFObHZxVDdaZGRIeHlKQk5IcF9xZUVZTDd5RSIsInJpZCI6IjJlZTAzOWMzLWU0M2MtNGVkOS1iNzQyLTUwOWZmYzQ5NjE2NCJ9.RkNwQvO8jrTR9db7nMn42xH9CxbVWeDw4vmGcAkEisin0QMiAMN6TFlTts-X_XARK_BSy8BJm89cG6OPsuAbDw